#login-container {
    width: 425px;
    margin: 120px auto 0;
}

#login-header {
    padding: 12px 20px;
    margin-bottom: 1em;
    background: -webkit-linear-gradient(top,#4A515B 0%,#3C4049 100%);
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#login-header h3 {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}
h3 {
    font-weight: 600;
}
h3 {
    line-height: 27px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    text-rendering: optimizelegibility;
}

body {
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
}
body {
    color: #333333;
}

#login-content {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.clearfix::before, .clearfix::after {
    display: table;
    content: "";
}

form {
    margin: 0 0 18px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.control-group {
    margin-bottom: 9px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

#login-content input {
    width: 100%;
    padding: 2%;
}
input {
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}

input, textarea {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear 0.2s,box-shadow linear 0.2s;
}

input, textarea, select, .uneditable-input {
    display: inline-block;
    margin-bottom: 9px;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

button, input, select, textarea {
    margin: 0;
    vertical-align: middle;
}

.pull-right {
    float: right;
}

.btn-warning {
    background-color: #faa732;
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

#login-extra {
    margin-top: 1.5em;
    text-align: center;
}

#login-extra p {
    font-size: 12px;
    color: #888;
}