.nav-tools {
    width: 100%;
    height: 30px;
}

dl {
    margin-bottom: 0;
}

.nav-tools p {
    float: left;
    margin-right: 2px;
}

.expe-content dt {
    line-height: 40px;
}

.expr-header h1 {
    text-align: center;
}

.expe-content dl.compact {
    padding: 0 0 25px;
    line-height: 1;
}

.expe-content dl.compact dt {
    line-height: 1;
}

.expe-content dl:first-child {
    padding-top: 0;
}

.expe-content dl {
    border-bottom: 1px solid #eee;
}

.expe-content dl::before {
    display: table;
    content: "";
}

.expe-content dt {
    float: left;
    color: #101d37;
    font-weight: 700;
    width: 120px;
}

.expe-content .city-select {
    cursor: pointer;
    display: block;
    float: none;
    width: 270px;
    overflow: hidden;
}

.expe-content dd {
    position: relative;
    float: left;
    width: 470px;
}

.expe-content dd > * {
    float: left;
}

.expe-content dl::after {
    clear: both;
}

.expe-content dl::after, .expe-content dl::before {
    display: table;
    content: "";
}

.m-entry {
    color: #9399a5;
    margin: 0 auto;
    width: 590px;
    padding-top: 50px;
}

.m-entry * {
    box-sizing: border-box;
}

.m-entry dl {
    padding: 12px 0;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.u-sug {
    position: relative;
    width: 100%;
}

.u-sug ul {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    margin-left: 0;
}

.u-sug li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    color: #101d37;
    cursor: pointer;
}

.u-select {
    position: relative;
    width: 100%;
    background-color: #f5f5f6;
}

.u-select ul {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    margin-left: 0;
}

.u-select li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    color: #101d37;
    cursor: pointer;
}

.u-select li:hover, .u-sug li:hover {
    background-color: #f5f5f6;
}

.m-entry input.sugInput {
    width: 100%;
}

.m-entry input {
    border: none;
    height: 40px;
    line-height: 20px;
    padding: 10px 0;
    outline: none;
}

.u-select.u-select-build {
    padding: 5px 10px;
}

.u-select:first-child {
    margin-left: 0;
}

.u-select {
    position: relative;
    float: left;
    width: 146px;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    margin-left: 16px;
    border-radius: 1px;
    color: #aaa;
    font-size: 12px;
    cursor: default;
}



.u-select.u-select-build input {
    height: 30px;
    padding: 5px 0;
    line-height: 25px;
    background-color: transparent;
}

.m-entry .unit {
    font-weight: 700;
    color: #101d37;
    line-height: 40px;
}

.tips {
    color: #9399a5;
    width: 590px;
    margin: 30px auto 0;
    line-height: 20px;
}

.m-submit {
    margin-top: 60px;
}

.m-submit .wrap {
    width: 990px;
    margin: 0 auto;
}

.m-submit .wrap::after, .m-submit .wrap::before {
    display: table;
    content: "";
}

.m-submit .btn-submit {
    background-color: #00ae66;
}

.m-submit .btn-submit {
    float: left;
    margin-left: 300px;
    width: 190px;
    line-height: 55px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.expe-price .item-price {
    /*position: absolute;*/
    right: 0;
    top: 0;
    font-family: PingFangSC-Semibold;
    color: #fa5741;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}

.expe-price .item-price em {
    font-size: 24px;
    font-family: Tahoma;
}

.new_info {
    line-height: 30px;
    margin-left: 80px;
}

.new_info {
    line-height: 30px;
    margin-left: 80px;
}