{% extends "base.html" %}

{% load static %}
{% block title %}修改密码{% endblock %}

{% block css %}
    <link href="{% static 'css/setpassword.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="set-password-container">
        <div id="set-password-header">
            <h3>修改密码</h3>
        </div>
        <div id="set-password-content" class="clearfix">
            <form class='form-set_password' action="/set_password/" method="post">

                {% csrf_token %}
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="password1">旧密码</label>
                        <div class="controls">
                            <input type="password" class="" id="password1" name="password1">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password2">新密码</label>
                        <div class="controls">
                            <input type="password" class="" id="password2" name="password2">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password3">确认密码</label>
                        <div class="controls">
                            <input type="password" class="" id="password3" name="password3">
                        </div>
                    </div>
                </fieldset>
                <div class="pull-right">
                    <button type="submit" class="btn btn-warning btn-large">
                        提交
                    </button>
                </div>
            </form>
        </div>
    </div>
{#    <div id="content">#}
{#        <div class="container">#}
{#            <div class="col-md-4 col-md-offset-4">#}
{#                <form class='form-register' action="/set_password/" method="post">#}
{##}
{#                    {% if message %}#}
{#                        <div class="alert alert-warning">{{ message }}</div>#}
{#                    {% endif %}#}
{##}
{#                    {% csrf_token %}#}
{##}
{#                    <h2 class="text-center">修改密码</h2>#}
{#                    <div class="form-group">#}
{#                        {{ register_form.password1.label_tag }}#}
{#                        {{ register_form.password1 }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ register_form.password2.label_tag }}#}
{#                        {{ register_form.password2 }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ register_form.password3.label_tag }}#}
{#                        {{ register_form.password3 }}#}
{#                    </div>#}
{##}
{#                    <button type="reset" class="btn btn-default pull-left">重置</button>#}
{#                    <button type="submit" class="btn btn-primary pull-right">提交</button>#}
{##}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock body %}